'use strict'

const { Command } = require('@adonisjs/ace')

class {{name}} extends Command {
  static get signature () {
    return '{{commandName}}'
  }

  static get description () {
    return 'Tell something helpful about this command'
  }

  async handle (args, options) {
    this.info('Dummy implementation for {{commandName}} command')
  }
}

module.exports = {{name}}
