'use strict'

const { LogicalException } = require('@adonisjs/generic-exceptions')

class {{ name }} extends LogicalException {
  /**
   * Handle this exception by itself
   */
  // handle () {}
}

module.exports = {{ name }}
