'use strict'

class {{name}} {
  {{#resource}}
  async index () {
  }

  async create () {
  }

  async store () {
  }

  async show () {
  }

  async edit () {
  }

  async update () {
  }

  async destroy () {
  }
  {{/resource}}
}

module.exports = {{name}}
