'use strict'

const Schema = use('Schema')

class {{ className }} extends Schema {
  {{#create}}
  up () {
    this.create('{{ table }}', (table) => {
      table.increments()
      {{#rows}}
      {{{ . }}}
      {{/rows}}
      table.timestamps()
    })
  }

  down () {
    this.drop('{{ table }}')
  }
  {{/create}}
  {{^create}}
  up () {
    this.table('{{ table }}', (table) => {
      // alter table
      {{#rows}}
      {{{ . }}}
      {{/rows}}
    })
  }

  down () {
    this.table('{{ table }}', (table) => {
      // reverse alternations
    })
  }
  {{/create}}
}

module.exports = {{ className }}
