'use strict'

/** @type {import('@adonisjs/lucid/src/Schema')} */
const Schema = use('Schema')

class {{ name }} extends Schema {
  {{#create}}
  up () {
    this.create('{{ table }}', (table) => {
      table.increments()
      table.timestamps()
    })
  }

  down () {
    this.drop('{{ table }}')
  }
  {{/create}}
  {{^create}}
  up () {
    this.table('{{ table }}', (table) => {
      // alter table
    })
  }

  down () {
    this.table('{{ table }}', (table) => {
      // reverse alternations
    })
  }
  {{/create}}
}

module.exports = {{ name }}
