'use strict'
const _ = require('lodash')

class {{name}} {
  register (Model, customOptions) {
    const defaultOptions = {}
    const options = _.extend({}, defaultOptions, customOptions)
  }
}

module.exports = {{name}}
